@using CarDealership.Models.ViewModels.Users
@using CarDealership.Utilities

@model List<AllUsersViewModel>

<h1 class="text-center">Registered Users</h1>
<hr class="hr-style" />

<table class="table w-75 mx-auto">
    <thead>
        <tr class="row">
            <th class="col-md-3 font-weight-bold">#</th>
            <th class="col-md-3 font-weight-bold">Username</th>
            <th class="col-md-3 font-weight-bold">Role</th>
            <th class="col-md-3 font-weight-bold">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ var index = 1;}
        @foreach (var user in Model)
        {
        <tr class="row">
            <th class="col-md-3">@index</th>
            <th class="col-md-3">@user.Username</th>
            <th class="col-md-3">@user.Role</th>
            <td class="col-md-3">
                @if (user.Role == Constants.AdminRole)
                {
                    <form class="form-inline" asp-area="Administration" asp-controller="Users" asp-action="Demote" method="post">
                        <input class="userId" name="userId" value="@user.Id" hidden />
                        <div class="button-holder d-flex">
                            <button type="submit" class="btn btn-dark">Demote to User</button>
                        </div>
                    </form>
                }
                else
                {
                    <form class="form-inline" asp-area="Administration" asp-controller="Users" asp-action="Promote" method="post">
                        <input class="userId" name="userId" value="@user.Id" hidden />
                        <div class="button-holder d-flex">
                            <button type="submit" class="btn btn-dark">Promote to Admin</button>
                        </div>
                    </form>
                }
            </td>
        </tr>
            { index++; }
        }
    </tbody>
</table>