@using CarDealership.Models.ViewModels.Adds.CarAdds
@model CarAddToBuyViewModel

<h1 class="text-center">@Model.Title</h1>
<hr class="hr-style" />
<div class="jumbotron">
    <table class="table table-bordered mx-auto">
        <thead>
            <tr class="row">
                <th class="col-md-1">Make</th>
                <th class="col-md-1">Model</th>
                <th class="col-md-1">Price</th>
                <th class="col-md-1">Produced On</th>
                <th class="col-md-1">Engine Type</th>
                <th class="col-md-1">Horse Powers</th>
                <th class="col-md-1">Transmission</th>
                <th class="col-md-1">Category</th>
                <th class="col-md-1">Color</th>
                <th class="col-md-1">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
                <td class="col-md-1">@Model.Make</td>
                <td class="col-md-1">@Model.Model</td>
                <td class="col-md-1">@Model.Price lv.</td>
                <td class="col-md-1">@Model.YearOfProduction</td>
                <td class="col-md-1">@Model.EngineType</td>
                <td class="col-md-1">@Model.HorsePower</td>
                <td class="col-md-1">@Model.Transmission</td>
                <td class="col-md-1">@Model.Category</td>
                <td class="col-md-1">@Model.Color</td>
                <td class="col-md-1">@Model.Location</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="jumbotron bg-dark text-white">
    <p>@Model.AdditionalInfo</p>
</div>
<h4>Car Extras:</h4>
<p>@Model.CarExtras</p>
<hr class="hr-style" />
<h4 class="text-center">Images</h4>
@foreach (var imageUrl in Model.PicturesUrls)
{
    <img src="@imageUrl" width="180" height="110" class="border-0" />
}
<hr class="hr-style">
<div class="jumbotron col-md-6 mx-auto">
    @if (this.User.Identity.Name == Model.OwnerName)
    {
        <h4 class="text-center">Owner contacts:</h4>
        <hr class="hr-style" />
        <h5 class="text-center">This is your add.</h5>
        if (Model.IsSold)
        {
            <h5 class="text-center">Congratulations! You sold this car.</h5>
        }
        else
        {
            <form asp-controller="CarAdds" asp-action="Sell" method="post">
                <input name="addId" class="addId" id="addId" value="@Model.Id" hidden />
                <div class="text-center">
                    <button type="submit" class="btn btn btn-dark">Mark as sold</button>
                </div>
            </form>
        }
    }
    else
    {
        <h4 class="text-center">Owner contacts:</h4>
        <hr class="hr-style" />
        <div>
            <h5>Email:  @Model.OwnerEmail</h5>
        </div>
        <div>
            <h5>Owner username: @Model.OwnerName</h5>
        </div>
        @if (Model.OwnerPhone != null)
        {
            <div>
                <h5>Phone:  @Model.OwnerPhone</h5>
            </div>
        }
        else
        {
            <div>
                <h5>Phone: <span class="text-muted">No phone to show</span></h5>
            </div>
        }
    }
</div>